/* Параграф */

// База
%p {
	line-height: 24rem;
	font-size: 16rem;
}

// С отступом
%p-margin {
	@extend %p;
	margin-bottom: 1em;
}



/* Лид */

// База
%lead {
	line-height: 32rem;
	font-size: 24rem;
}

// С отступом
%lead-margin {
	@extend %lead;
	margin-bottom: 1em;
}



/* Мелкий текст */

// База
%hint {
	line-height: 16rem;
	font-size: 12rem;
}

// С отступом
%hint-margin {
	@extend %hint;
	margin-bottom: 1em;
}