@use "@fontsource-variable/geologica";
@use "@core/colors";

body {
	line-height: 24rem;
	font-size: 16rem;
	font-family: "Geologica Variable", sans-serif;
	color: colors.content(colors.$content);
	background-color: colors.base(colors.$content);
}